.body {
	
	background-color: gray;
	text-align: center;
	color :#f3eeed;
	font-family: Century Gothic;
	list-style-type: none;
}

.h1 {
	text-align: center;
}

.li {
	text-align: center;
}

.img-circle {
	display: block;
    margin-left: auto;
    margin-right: auto

}