body {
  background-color:#7F7F71;
  font-family: Lora;
  text-align: center;
  font-size: 1.7em;
  margin: auto;
  width: 80%;
}

/*
.name {
  text-align: center;
  font-family: Microsoft JhengHei Light;
}

.desc {
  text-align: center;

}

.baa {
 
}

.baadesc {
  text-align: center;
}

.ckdesc {
  text-align: center;
}

.heading {
  font-family: Microsoft JhengHei Light; 
  text-align: center;
}

.headingdesc {
  text-align: center;
}
*/
