body {
  background-color: #7F7F7F;
  font-family: Open Sans;
}

.heading {
  margin: auto;
  text-align: center;
  width: 40%;
}

.portfolio {
  margin: auto;
  width: 40%;
}

.footer {
  margin: auto;
  text-align: center;
  width: 40%;
}
